<script id="container-details-template" type="text/x-handlebars-template">
    <div id="containerName">
        <i class="fa fa-pencil editContainerName" aria-hidden="true" data-container-id="{{Id}}"></i> 
        &nbsp;
        <span class="containerNameBlock">{{Name}}</span>
    </div>
    <div id="containerDetailsAttributes">
        {{#each Items}}
            {{> contentDetails-partial}}
        {{/each}}
    </div>
    <div id="containerItems">
        <div class="itemBlock addItem" data-container-id="{{Id}}">
            <div class="itemContentBlock">
                +
            </div>
        </div>
        {{#each Items}}
            {{> contentBlock-partial}}
        {{/each}}
    </div>

    <button class="saveContainer" data-container-id="{{Id}}">
        Save Container
    </button>
</script>


<script id="contentBlock-partial" type="text/x-handlebars-template">
    <div class="itemBlock" data-item-id="{{Id}}">
        <div class="itemContentBlock">
            {{Name}}
        </div>
        <div class="contentPriority">
            1
        </div>
    </div>
</script>

<script id="contentDetails-partial" type="text/x-handlebars-template">
    <div class="contentDetailsBlock" data-item-id="{{Id}}">
        <div class="contentName">
            <i class="fa fa-pencil editContentName" aria-hidden="true" data-item-id="{{Id}}"></i>
            &nbsp;
            <span class="containerItemName">{{Name}}</span>
        </div>
        <div class="contentTextBlock">
            <textarea id="{{Id}}" class="htmlEditBox" name="editorBox">{{Value}}</textarea>
        </div>
        <div class="contentSaveBlock">
            <button class="saveItem" data-item-id="{{Id}}" data-container-id="{{@root.Id}}">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</script>